1. Write a program to reverse a string.

In [1]:
a = "Name"
print(a[: : -1])

emaN

2. Check if a string is a palindrome.

In [4]:
string = input("Enter the string: ")
st = string.replace(" ", "")
lower_string = st.lower() # to avoid mistake where user make first alphabet in capital
palindrome = lower_string[: : -1]
if palindrome == lower_string:
    print (True)
else:
    print (False)

Enter the string:    mada  m
True

3. Convert a string to uppercase.

In [2]:
u = "uppercase"
print(u.upper())

UPPERCASE

4. Convert a string to lowercase.

In [4]:
l = "LOWERCASE"
print(l.lower())

lowercase

5. Count the number of vowels in a string.

In [5]:
string = input("Enter the string: ")
vowels = 'aeiouAEIOU'
count  = 0
for i in string:
    if i in vowels:
        count = count + 1
print (count)

Enter the string: aeiou
5

6. Count the number of consonants in a string.

In [7]:
string = input('Enter a String: ')

consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

count = 0

for i in string:
    if i in consonants:
        count = count + 1
print(count)

Enter a String:   11 qw
2

7. Remove all whitespaces from a string.

In [3]:
string = input("Enter the string: ")
print(string.replace(" ",""))

Enter the string:    hi my name is    khan
himynameiskhan

8. Find the length of a string without using the `len()` function.

In [8]:
b = input('Enter a String: ')
count = 0 
for i in b: 
    count = count + 1
print(count)

Enter a String: qwe er
6

9. Check if a string contains a specific word.

In [4]:
a = " My name is python programming language "
b = input("Enter the word: ")
if b in a:
    print(True)
else:
    print(False)

Enter the word: python
True

10. Replace a word in a string with another word.

In [4]:
a = "Hello world!"
a.replace("Hello" , 'Hi') # hello will be replaced by hi.

'Hi world!'

11. Count the occurrences of a word in a string.

In [2]:
string = input("Enter the string: ")
count_word = input("Enter the word : ")
count = 0

string2 = string.split()

for i in string2:
    if i == count_word:
        count= count + 1
    else:
        count = count
print(count)

Enter the string: this is a python python programming language
Enter the word : python
2

12. Find the first occurrence of a word in a string.

In [6]:
string = input("Enter the string: ")
word =input("Enter the word: ") 

index = string.find(word)

if index == -1:
    print(None)
    
    
    
print(index)

Enter the string: python programming
Enter the word: p
0

13. Find the last occurrence of a word in a string.

In [9]:
string = input("Enter the string: ")
word =input("Enter the word: ") 

index = string.rfind(word)

if index == -1:
    print(None)
    
    
print(index)

Enter the string: pyhton pro
Enter the word: o
9

14. Split a string into a list of words.

In [51]:
a = "Split a string into list of words"
print(a.split(" "))

['Split', 'a', 'string', 'into', 'list', 'of', 'words']

# OR

In [54]:
a = "Split a string into list of words"
b = a.split(" ")
l = []
for i in b:
    l.append(i)
print(l)

['Split', 'a', 'string', 'into', 'list', 'of', 'words']

15. Join a list of words into a string.

In [59]:
l = ['this' ' is', ' a', ' list']
a = ''
a.join(l)

'this is a list'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [11]:
string = 'words separated by spaces'
string.replace(" ", "_")

'words_separated_by_spaces'

17. Check if a string starts with a specific word or phrase.

In [14]:
s = "check if a string starts with the specific word or phrase"
prefix = input("Enter the word: ")
s.startswith(prefix)

Enter the word: check

True

18. Check if a string ends with a specific word or phrase.

In [13]:
s = "check if a string ends with the specific word or phrase"
suffix = input("Enter the word: ")
s.endswith(sufffix)

Enter the word: e

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [68]:
a = "hello world"
a.title()

'Hello World'

20. Find the longest word in a string.

In [78]:
a = "finding the longest word in this string"
l = a.split()
longest_word = max(l , key = len)
longest_word

'finding'

21. Find the shortest word in a string.

In [79]:
a = "finding the longest word in this string"
l = a.split()
shortest_word = min(l , key = len)
shortest_word

'in'

22. Reverse the order of words in a string.

In [83]:
s = "reverse the order of words in this string"
l = s.split()
l.reverse()
l

['string', 'this', 'in', 'words', 'of', 'order', 'the', 'reverse']

23. Check if a string is alphanumeric.

In [14]:
bb = 'string11'
print(bb.isalnum())

True

24. Extract all digits from a string.

In [25]:
a = "extractingdigit1020"
for i in a:
    if i.isnumeric():
        print(i)

1
0
2
0

25. Extract all alphabets from a string.

In [2]:
a = 'extracting_alphabets123'
for i in a:
    if i.isalpha():
        print(i , end = "  ")

e  x  t  r  a  c  t  i  n  g  a  l  p  h  a  b  e  t  s

26. Count the number of uppercase letters in a string.

In [29]:
a = "UPPercase leTTers"
count = 0
for i in a:
    if i.isupper():
        count = count + 1
print(count)

5

27. Count the number of lowercase letters in a string.

In [31]:
a = "CounTING letterS"
count = 0
for i in a:
    if i.islower():
        count = count + 1
print(count)

9

28. Swap the case of each character in a string.

In [35]:
a = input("Enter the string: ")
for i in a:
    if i.isupper():
        print(i.lower())
    else:
        print(i.upper())

Enter the string: STRing
s
t
r
I
N
G

29. Remove a specific word from a string.

In [1]:
a = 'Removing a specific word from this string'
b = input("Enter the word you want to remove from above string: ")
print(a.replace(b , ""))

Enter the word you want to remove from above string: this
Removing a specific word from string

30. Check if a string is a valid email address.

In [8]:
import re

def is_valid_email(email):
    pattern = r"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
    
    return re.match(pattern, email) is not None

email = "example@email.com"
print(is_valid_email(email))

True

31. Extract the username from an email address string.

In [4]:
email = "example@email.com"
email.split('@')[0]

'example'

32. Extract the domain name from an email address string

In [5]:
email = "example@email.com"
email.split('@')[1]

'email.com'

33. Replace multiple spaces in a string with a single space.

In [11]:
string = " this   is    a string   "
string2 = string.split()
output = " "
output = output.join(string2)
output

'this is a string'

35. Extract the protocol (http or https) from a URL string.

In [16]:
url = "http://www.example.com"
protocol = url.find('://')
if protocol != -1 :
    print (url[: protocol])
else:
    None

http

36. Find the frequency of each character in a string

In [1]:
def character_frequency(s):
    frequency = {}  

    for char in s:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1  
    return frequency

s = "hello"
print(character_frequency(s))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

37. Remove all punctuation from a string.

In [9]:
import string

def remove_punctuation(s):
    return ''.join(char for char in s if char not in string.punctuation)


s = "Hello, world!"
print(remove_punctuation(s))

Hello world

38. Check if a string contains only digits

In [23]:
string = input("Enter the string: ")
string.isdigit()

Enter the string: 23d

False

39. Check if a string contains only alphabets

In [28]:
string = input("Enter the string:" ) 
string.isalpha()

Enter the string:wafd

True

40. Convert a string to a list of characters

In [31]:
string = "this is a string"
l = []
for i in string:
    l.append(i)
print(l)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

41. Check if two strings are anagrams.

In [32]:
st1 = input("Enter first word: ")
st2 = input("Enter second word: ")
if sorted(st1)==sorted(st2):
    print (True)
else: 
    print(False)

Enter first word: slient
Enter second word: listen
True

42. Encode a string using a Caesar cipher.

43. Decode a Caesar cipher encoded string.

44. Find the most frequent word in a string.

In [26]:
a = "striiingg"
b = {}
for i in a:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
        
print (max(b, key =b.get))

i

45. Find all unique words in a string.

In [22]:
import re

def unique_words(text):
    words = re.findall(r'\b\w+\b', text.lower())
    return set(words)

text = "Hello, world! The world is beautiful. Hello again."
print(unique_words(text))

{'hello', 'the', 'is', 'beautiful', 'world', 'again'}

46. Count the number of syllables in a string.

In [24]:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

word1 = "hello"
word2 = "banana"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.

47. Check if a string contains any special characters.

In [26]:
import re

def contains_special_characters(s):
    if re.search(r'[^a-zA-Z0-9\s]', s):
        return True
    return False

text = "Hello, world!"
print(contains_special_characters(text))  # Outputs: True

True

48. Remove the nth word from a string.

In [25]:
def remove_nth_word(text, n):
    words = text.split()
    if 1 <= n <= len(words):
        del words[n-1]
    return ' '.join(words)

text = "Hello, this is a test string."
position = 4
print(remove_nth_word(text, position))

Hello, this is test string.


49. Insert a word at the nth position in a string.

In [27]:
def insert_nth_position(text, n, word_to_insert):
    words = text.split()
    if 1 <= n <= len(words) + 1:
        words.insert(n - 1, word_to_insert)
    return ' '.join(words)

text = "Hello this is a test."
position = 2
new_word = "really"
print(insert_nth_position(text, position, new_word))

Hello really this is a test.

50. Convert a CSV string to a list of lists.

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.
2. Find the length of a list without using the `len()` function.

In [17]:
l = [1,2,3,4,5,6,7,8,9,10]
c = 0
for i in l:
    c = c+ 1
print(c)

10

3. Append an element to the end of a list.

In [18]:
l = [1,2,3,4,5,6,7,8,9,10]
l.append(11)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [19]:
l = [1,2,3,4,5,6,7,8,9,10]
l.insert(0,0)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
l.remove(5)
l

[1, 2, 3, 4, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [58]:
l = [1,2,3,4,5,6,7,8,9,10]
l.pop(4)
l

[1, 2, 3, 4, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [73]:
l = [1,2,3,4,5,6,7,8,9,10]
a = int(input("Enter Number: "))
if a in l:
    print(True)
else:
    print(False)

Enter Number: 11
False

8. Find the index of the first occurrence of an element in a list.

In [2]:
a = [1,2,3,4,2,3]
a.index(3)

2

9. Count the occurrences of an element in a list.

In [11]:
a = [1,2,3,4,2,3,3,3,2]
b = 2
c = 0
for i in a :
    if i == b:
        c+=1
print(c)

3

10. Reverse the order of elements in a list.

In [16]:
a = [1,2,3,4,5]
print(a[::-1])

# OR 

a = [3,4,2,1,5,6]
a.reverse()
a

[5, 4, 3, 2, 1]

[6, 5, 1, 2, 4, 3]

11. Sort a list in ascending order.

In [14]:
a = [3,4,2,1,5,6]
a.sort()
a

[1, 2, 3, 4, 5, 6]

12. Sort a list in descending order.

In [18]:
a = [3,4,2,1,5,6]
a.sort(reverse = True)
a

[6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [19]:
a = []
for i in range(1 , 21):
    if i % 2 == 0:
        a.append(i)
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [20]:
a = []
for i in range(1 , 21):
    if i % 2 != 0:
        a.append(i)
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [23]:
a = [1,2,3,4,5]
b = 0
for i in a:
    b = b + i
    
print(b)

15

16. Find the maximum value in a list.

In [28]:
a = [1,2,3,4,5]
max(a)

5

17. Find the minimum value in a list.

In [29]:
a = [1,2,3,4,5]


min(a)

1

18. Create a list of squares of numbers from 1 to 10.

In [30]:
for i in range (1 ,11):
    print (i**2)

1
4
9
16
25
36
49
64
81
100

19. Create a list of random numbers.

In [37]:
import random
n  = 10
random_numbers = [random.randint(1, 100) for _ in range(n)]
random_numbers

[57, 64, 70, 85, 26, 49, 36, 21, 73, 2]

In [40]:
a = 10
print([random.randint(1,100) for i in range(a)])

[44, 70, 4, 83, 87, 31, 34, 83, 62, 9]

20. Remove duplicates from a list.

In [32]:
a = [1,1,2,2,3,3,4,4,5,5]
b=[]
for i in a :
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [44]:
a = [1,2,3,4,5]
b = [3,4,5,6,7]
c= []
for i in a:
    for e in b:
        if i ==e:
            c.append(i)
print(c)

[3, 4, 5]

22. Find the difference between two lists.

In [45]:
a = [5,2,3,4,9]
b = [3,4,5,6,7]
for i in a:

23. Merge two lists.

In [46]:
a = [1,2,3,4,5]
b = [3,4,5,6,7]
for i in a:
    b.append(i)
b

[3, 4, 5, 6, 7, 1, 2, 3, 4, 5]

24. Multiply all elements in a list by 2.

In [51]:
a = [1,2,3,4,5]
for i in a:
    print(i * 2, end="  ")

2  4  6  8  10

25. Filter out all even numbers from a list.

In [53]:
a = [1,2,3,4,5,6]
for i in a :
    if i%2==0:
        print(i)

2
4
6

26. Convert a list of strings to a list of integers.

In [19]:
a = ['1','2','3','4','5']
b = [int(i) for i in a ]
print(b)
type(b[0])

[1, 2, 3, 4, 5]

int

27. Convert a list of integers to a list of strings.

In [18]:
a = [1,2,3,4,5]
b=[ str (i) for i in a ]
print(b)
type(b[0])

['1', '2', '3', '4', '5']

str

28. Flatten a nested list.

In [20]:
a = [[1,2,3] , [4,5,6] , [7,8,9]]
flatten = [ e for i in a for e in i ]
flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [27]:
a = 0
b = 1 
c = [0,1]
for i in range(8):
    a , b = b , b +a 
    c.append(b)
    
c

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [29]:
a = [1,7,3,4,6,5]

if a == sorted(a):
    print (True)
else:
    print(False)

False

31. Rotate a list to the left by `n` positions.

In [37]:
a = [1,2,3,4,5]
b = 3
print(a[b:] + a[: b])

[4, 5, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [46]:
a = [1,2,3,4,5]
b = 3
print(a[-b : ] + a[:-b] )

[3, 4, 5, 1, 2]

33. Create a list of prime numbers up to 50.

In [ ]:
for i in range(51):

34. Split a list into chunks of size `n`.

In [ ]:
a = [1,2,3,4,5,6,7,8]
for i in range(a):

35. Find the second largest number in a list.

In [17]:
a = [1,2,3,4,6,5]
a.sort()
a[-2]

5

36. Replace every element in a list with its square.

In [21]:
a = [2,3,4,5,6]
s = [i**2 for i in a ]
s

[4, 9, 16, 25, 36]

Convert a list to a dictionary where list elements become keys and their
indices become values.

In [24]:
a = [1,2,3,4,5]
d = {e: index for index, e in enumerate(a)}
d

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

38. Shuffle the elements of a list randomly.

In [26]:
a = [1,2,3,4,5]
import random
random.shuffle(a)
a

[4, 1, 3, 5, 2]

39. Create a list of the first 10 factorial numbers.

In [27]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

factorials = [factorial(i) for i in range(10)]

print(factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [37]:
a = [1,2,3,4,5]

b = [5,6,7,8]

for i in a:
    for e in b:
        if i == e:
            c = i
print(f"{c} is common in both the lists")

5 is common in both the lists

41. Remove all elements from a list.

In [40]:
a = [1,2,3,4,5]
a.clear()
a

[]

42. Replace negative numbers in a list with 0.

In [63]:
a = [-1,-2,1,2,3,4,-5]
num = [i if i > 0 else 0 for i in a]
num

7

43. Convert a string into a list of words.

In [51]:
a = "This is a string"
b = a.split()
print(b)

['This', 'is', 'a', 'string']

44. Convert a list of words into a string.

In [52]:
a = ["This" , 'is','a','list']
b = " ".join(a)
b

'This is a list'

45. Create a list of the first `n` powers of 2.

In [15]:
a = 7
for i in range(a):
    b = 2 ** i
b

64

46. Find the longest string in a list of strings.

In [26]:
a = ["Longest", 'String', 'in', 'the' ,'string']
longest_word = ""
for i in a:
    if len(i) > len(longest_word):
        
        longest_word = i
    
print(longest_word)

Longest

47. Find the shortest string in a list of strings.

In [62]:
a = ["Shortest", 'String', 'in', 'the' ,'string']

b = min(a , key = len)

['Shortest', 'String', 'in', 'the', 'string']

48. Create a list of the first `n` triangular numbers.

In [30]:
a = 5
b = [i * (i + 1) // 2 for i in range(1, a + 1)]
b

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [34]:
def contains_subsequence(main_list, sub_list):
    if not sub_list:  
        return True
    
    if not main_list:  
        return False

    m, n = len(main_list), len(sub_list)
    i, j = 0, 0

    while i < m and j < n:
        if main_list[i] == sub_list[j]:
            j += 1
        i += 1

    return j == n

main_list = [1, 2, 3, 4, 5, 6]
sub_list1 = [2, 3, 4,7]


print(contains_subsequence(main_list, sub_list1))

False

50. Swap two elements in a list by their indices.

In [67]:
a = [1,2,3]
b = 1
c = 0
d = a[b]

a[b] = a[c]

a[c] = d

print("1 and 2 is swapped", a)

1 and 2 is swapped [2, 1, 3]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [36]:
tup = (1,2,3,4,5)
type(tup)

tuple

2. Access the third element of a tuple.

In [39]:
tup[2]

3

3. Find the length of a tuple without using the `len()` function.

In [42]:
c = 0
for i in tup:
    c+=1
print(f"Lenght :{c}")

Lenght :5

4. Count the occurrences of an element in a tuple.

In [47]:
a = (1,2,3,3,3,4,3,4,5,6)
b= 3
count = 0
for i in a:
    if i==b:
        count+=1
count

4

5. Find the index of the first occurrence of an element in a tuple.

In [49]:
a = ('a','b','v','b','d')
a.index('b')

1

6. Check if an element exists in a tuple.

In [57]:
t = (1,2,3,4,4,5)
a = 6

if a in t:
    print(True)
else:
    print(False)

False

7. Convert a tuple to a list.

In [58]:
t = (1,2,3)
list(t)

[1, 2, 3]

8. Convert a list to a tuple.

In [59]:
lst = [1,2,3]
tuple(lst)

(1, 2, 3)

9. Unpack the elements of a tuple into variables.

In [60]:
t = (1,2,3)
a,b,c = t

print(a,b,c)

1 2 3

10. Create a tuple of even numbers from 1 to 10.

In [63]:
l = []
for i in range(2,11,2):
    l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [65]:
l = []
for i in range(1,11,2):
    l.append(i)
print(tuple(l))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [72]:
a = (1,2,3,4,5)
b = (6,7,8,9,10)
p = (a+b)
print(p)
type(p)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

13. Repeat a tuple three times.

In [75]:
a = (1,2,3)
print((a) * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [86]:
t = ()
if len(t) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [90]:
a = ((1,2,3),(4,5,6),(7,8,9))
type(a)

tuple

16. Access the first element of a nested tuple.

In [91]:
a=(1,2,3)
a[0]

1

17. Create a tuple with a single element.

In [93]:
t = (1,)
type(t)

tuple

18. Compare two tuples.

In [103]:
t1 = (1, 2, 3)
t2 = (1, 2, 4)
print(t1 < t2)

True

19. Delete a tuple.

In [95]:
a = (1,2)
del(a)

20. Slice a tuple.

In [102]:
a = (1,2,3,4,5,6)
print(a[0:3])
print(a[3:6])

(1, 2, 3)
(4, 5, 6)

21. Find the maximum value in a tuple.

In [109]:
a = (1,2,3,4,5,4,13,5,6,3,3)
max(a)

13

22. Find the minimum value in a tuple.

In [110]:
a = (1,2,3,4,5,4,13,5,6,3,3)
min(a)

1

23. Convert a string to a tuple of characters.

In [123]:
s = "String"
tuple(s)

('S', 't', 'r', 'i', 'n', 'g')

24. Convert a tuple of characters to a string.

In [125]:
t = ('s','t','r','i','n','g')
tuple(t)

('s', 't', 'r', 'i', 'n', 'g')

25. Create a tuple from multiple data types.

In [132]:

# Integer
a = 5

# Float
b = 3.14

# String
c = "Hello"

# List
d = [1, 2, 3]

# Dictionary
e = {"key": "value"}

# Set
f = {4, 5, 6}

mixed_tuple = (a, b, c, d, e, f)

print(mixed_tuple)

(5, 3.14, 'Hello', [1, 2, 3], {'key': 'value'}, {4, 5, 6})

26. Check if two tuples are identical.

In [131]:
a = (1,2,3,4,5)
b = (1,2,3,4,5)
if a == b:
    print (True)
else:
    print(False)

True

27. Sort the elements of a tuple.

In [128]:
t = (8,4,5,3,6,5,1,9)
sorted(t)

[1, 3, 4, 5, 5, 6, 8, 9]

28. Convert a tuple of integers to a tuple of strings.

In [134]:
t = (1,2,3,4,5)
s = tuple([str(i) for i in t])
s

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
t = ('s', 't' , 'r')

30. Merge two tuples.

In [2]:
a = (1,2,3)
b= (4,5,6)
print(a)
type(a)

(1, 2, 3)

tuple

31. Flatten a nested tuple.

In [4]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = tuple([e for i in a for e in i])
b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [9]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = []

num = 2
for _ in range(5):  
    while not is_prime(num):
        num += 1
    primes.append(num)
    num += 1

prime_tuple = tuple(primes)
print(prime_tuple)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [7]:
a = (1,2,3,2,1)
if a==a[::-1]:
    print(True)
else:
    print(False)

True

34. Create a tuple of squares of numbers from 1 to 5.

In [12]:
l = []
for i in range(1,6):
    s = i**2
    l.append(s)
    
tuple(l)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [13]:
t = (1,2,3,4,5,6,7,8,9)
for i in t:
    if i%2 == 0:
        print(i)

2
4
6
8

36. Multiply all elements in a tuple by 2.

In [14]:
t = (1,2,3,4,5,6,7,8,9)
l = []
for i in t:
    r = i * 2
    l.append(r)
print(tuple(l))

(2, 4, 6, 8, 10, 12, 14, 16, 18)

37. Create a tuple of random numbers.

In [17]:
import random
l = []
for i in range(6):
    s= random.randint(0, 100)
    l.append(s)
print(tuple(l))

(10, 70, 40, 51, 22, 49)

38. Check if a tuple is sorted.

In [32]:
t = (1,2,3,4,5,6,7,8,9,11,10)
 
if t == tuple(sorted(t)):
    
    print(True)
else:
    
    print(False)

False

39. Rotate a tuple to the left by `n` positions.

In [33]:
def rotate_left(t, n):
    n = n % len(t)  
    return t[n:] + t[:n]


t = (1, 2, 3, 4, 5)
rotated = rotate_left(t, 2)
print(rotated)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [34]:
def rotate_right(t, n):
    n = n % len(t)  
    return t[-n:] + t[:-n]


t = (1, 2, 3, 4, 5)
rotated = rotate_right(t, 2)
print(rotated)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [35]:
def generate_fibonacci(n):
    
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]

    fib_sequence = [0, 1]
    for _ in range(2, n):
        next_fib = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_fib)
    return fib_sequence

fibonacci_tuple = tuple(generate_fibonacci(5))
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [46]:
a = input("Enter comma seprated values: ")
b = tuple(a.split(','))
print(b)

Enter comma seprated values: ch, noi,python
('ch', ' noi', 'python')

43. Swap two elements in a tuple.

In [48]:
def swap_elements_in_tuple(t, index1, index2):
    lst = list(t)
    lst[index1], lst[index2] = lst[index2], lst[index1]
    
    return tuple(lst)

t = (1, 2, 3, 4, 5)

swapped = swap_elements_in_tuple(t, 1, 3)
print(swapped)

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [50]:
t = (1,2,3,4,5,6,7,8,9)
t[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [51]:
def powers_of_two(n):
    return tuple(2**i for i in range(n))

n = 5
result = powers_of_two(n)
print(result)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [52]:
a = ['apple', 'python','programming', 'name']
print(max(a , key=len))

programming

47. Find the shortest string in a tuple of strings.

In [53]:
a = ['apple', 'python','programming', 'name']
print(min(a , key=len))

name

48. Create a tuple of the first `n` triangular numbers.

In [55]:
def triangular_numbers(n):
    return tuple(i*(i+1)//2 for i in range(1, n+1))

n = 5
result = triangular_numbers(n)
print(result)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [66]:
a = (1,2,3,4,5,6,7,8)
b = (5,6,7,8,9)
c = 0
for i in a:
    for e in b:
        if i==e:
            c+=1
    
            
            
if c == len(b):
    print(True)
else:
    print(False)

False

50. Create a tuple of alternating 1s and 0s of length `n`.

In [69]:
def alternating_ones_zeros(n):
    return tuple((i % 2) for i in range(n))

n = 5
result = alternating_ones_zeros(n)
print(result)

(0, 1, 0, 1, 0)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [1]:
s = {1,2,3,4,5}

2. Add an element to a set.

In [6]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [7]:
s.remove(6)
s

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [11]:
a = 9
if a in s:
    print(True)
else:
    print(False)

False

5. Find the length of a set without using the `len()` function.

In [12]:
c = 0
for i in s:
    c+=1
c

5

6. Clear all elements from a set.

In [14]:
s.clear()
s

set()

7. Create a set of even numbers from 1 to 10.

In [17]:
for i in range(2,11,2):
    s.add(i)
s

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [23]:
p=set()
for i in range(1,11,2):
    p.add(i)
p

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [32]:
a = {1,2,3,4}
b = {4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

10. Find the intersection of two sets.

In [33]:
a.intersection(b)

{4}

11. Find the difference between two sets.

In [34]:
a = {1,2,3,4}
b = {3,2,4,0}
print(a.difference(b))
print(b.difference(a))

{1}
{0}

12. Check if a set is a subset of another set.

In [42]:
a = {1,2,3,4,5,6}
b = {1,2,3}
c = 0
for i in a:
    for e in b:
        if e == i:
            c+=1
if c == len(b):
    print(True) 
else:
    print(False)

True

13. Check if a set is a superset of another set.

In [45]:
a = {1,2,3,4,5}
b = {4,5,6}
print(a.issuperset(b))

False

14. Create a set from a list.

In [36]:
a = [1,2,3,4,5]
print(set(a))

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [37]:
a = {1,2,3}
list(a)

[1, 2, 3]

16. Remove a random element from a set.

In [71]:
import random
s = {1,2,3,4,5,6}
d = random.choice (list(s))
s.remove(d)
s

{1, 3, 4, 5, 6}

17. Pop an element from a set.

In [76]:
d = {1,2,3,4,5,6}
print(d.pop())

1

18. Check if two sets have no elements in common.

In [15]:
a = {1,2,3,4,5}
b = {5,6,7,8}
if a.intersection(b) != set():
    print("Sets have common elements")
else:
    print("Sets doesnt have common element ")

Sets have common elements

19. Find the symmetric difference between two sets.

In [17]:
setA = {1, 2, 3, 4}
setB = {3, 4, 5, 6}

sym_diff = setA ^ setB
print(sym_diff)

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [23]:
a = {1,2,3,4,5}
b = {6,7}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7}

21. Create a set of the first 5 prime numbers.

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = set()
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.add(num)
    num += 1

print(prime_numbers)

22. Check if two sets are identical.

In [28]:
a = {1,2,3,4}
b = {1,2,3,4}

if a ==b:
    print("These sets are identical")
else:
    print("These sets are not identical")

These sets are identical

23. Create a frozen set.

In [30]:
print(frozenset(a))

frozenset({1, 2, 3, 4})

24. Check if a set is disjoint with another set.

In [31]:
a = {1,2,3,4,5,6}
b = {1,2,3,4}
a.isdisjoint(b)

False

25. Create a set of squares of numbers from 1 to 5.

In [32]:
a = []
for i in range(1,6):
    a.append(i**2)
print(set(a))

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [33]:
a ={1,2,3,4,5,6,7,7}
for i in a :
    if i%2==0:
        print(i)

2
4
6

27. Multiply all elements in a set by 2.

In [34]:
a ={1,2,3,4,5,6,7,7}
l=[]
for i in a:
    l.append(i*2)
print(set(l))

{2, 4, 6, 8, 10, 12, 14}

28. Create a set of random numbers.

In [42]:
import random
a =int(input("Enter length: "))
l = []
for i in range(a+1):
    s = random.randint(1,10)
    l.append(s)
print(set(l))

Enter length: 4
{8, 9, 2, 3}

29. Check if a set is empty.

In [47]:
s={1,23}
if s == set():
    print(True)
else:
    print(False)

False

30. Create a nested set (hint: use frozenset).

In [49]:
f1 = frozenset([1, 2, 3])
f2 = frozenset([4, 5, 6])

nested_set = {f1, f2}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

31. Remove an element from a set using the discard method.

In [53]:
s ={1,2,3}
s.discard(2)
s

{1, 3}

32. Compare two sets.

In [55]:
set1 = {1, 2, 3, 4, 5,9,8}
set2 = {4, 5, 6, 7, 8,4,6}


is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)

difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5, 8, 9}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {8, 4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Elements in set1 but not in set2: {1, 2, 3, 9}
Elements in set2 but not in set1: {6, 7}

33. Create a set from a string.

In [56]:
s = "string"
set(s)

{'g', 'i', 'n', 'r', 's', 't'}

34. Convert a set of strings to a set of integers.

In [62]:
s ={"12","34","56"}
a = []
for i in s:
    a.append(int(i))
    
set(a)

{12, 34, 56}

35. Convert a set of integers to a set of strings.

In [65]:
a ={1,2,3,4}
b = []
for i in a:
    b.append(str(i))
print(set(b))

{'1', '3', '4', '2'}

36. Create a set from a tuple.

In [66]:
a = (1,2,3,4)
set(a)

{1, 2, 3, 4}

37. Convert a set to a tuple.

In [69]:
s = (1,2,3)
set(s)

{1, 2, 3}

38. Find the maximum value in a set.

In [71]:
s = (1,4,2,3)
max(s)

4

39. Find the minimum value in a set.

In [72]:
s = (8,4,5,3,4)
min(s)

3

40. Create a set from user input.

In [2]:
print("Enter elements for the set (type 'done' to finish):")
a = set()
while True:
    user_input = input("> ")
    if user_input.lower() == 'done':
        break
    a.add(user_input)
set(a)

Enter elements for the set (type 'done' to finish):
> 2
> 3
> 4
> age
> done

{'2', '3', '4', 'age'}

41. Check if the intersection of two sets is empty.

In [3]:
def is_intersection_empty(set1, set2):
    return len(set1.intersection(set2)) == 0
a={1,2,3}
b={4,5,6}
print(is_intersection_empty(a,b))

True

42. Create a set of the first 5 Fibonacci numbers.

In [9]:
def generate_fibonacci(n):
    fib_sequence = []
    a, b = 0, 1
    for _ in range(6):
        fib_sequence.append(a)
        a, b = b, a + b
    return fib_sequence

fibonacci_5 = generate_fibonacci(5)

fibonacci_set = set(fibonacci_5)

print(fibonacci_set)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [21]:
s = [1,2,3,3,3,4,4,5,5]
print(list(set(s)))

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [19]:
a = {1,2,3,4,4,5,6,7,7}
b = {1,2,4,5,6,6,6,7,1,1}
c = 0
for i in a:
    for e in b:
        if i ==e:
            c +=1
print(f"there are {c} same elements")

there are 6 same elements

45. Create a set of the first `n` powers of 2.

In [1]:
def powers_of_two(n):
    return {2**i for i in range(n)}

n = int(input("Enter the value of n: "))
print(powers_of_two(n))

Enter the value of n: 3
{1, 2, 4}

46. Find the common elements between a set and a list.

In [4]:
a = [1,2,3,4,5]
b = {4,5,6,7,8}

for i in a:
    for e in b:
        if i==e:
            print(i)

4
5

47. Create a set of the first `n` triangular numbers.

In [5]:
def triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}

n = int(input("Enter the value of n: "))
print(triangular_numbers(n))

Enter the value of n: 4
{1, 10, 3, 6}

48. Check if a set contains another set as a subset.

In [8]:
a = {1,2,3,4,5}
b = {4,5}
print(b.issubset(a))

True

49. Create a set of alternating 1s and 0s of length `n`.

In [6]:
def alternating_sequence(n):
    return [i % 2 for i in range(n)]

n = int(input("Enter the value of n: "))
print(alternating_sequence(n))

Enter the value of n: 4
[0, 1, 0, 1]

50. Merge multiple sets into one.

In [12]:
a ={1,2,3,4}
b = {5,6,7,8}
c ={9,10,11,12}

a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}